<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-primary">The Matsue Kanko app</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Welcome to Matsue Kanko app!</p>
  </div>
  <div class="mt-4">
    <a href="/pages/information" class="btn btn-success btn-lg">Explore Information</a>
  </div>
  <div class="mt-5">
    <%= image_tag '松江城.jpg', alt: 'Matsue Castle', class: 'img-fluid rounded shadow' %>
  </div>
</div>